html {
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.column {
    float: left;
    width: 33.33%;
}
  
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.modeSelection {
    margin: 0;
    padding-top: 10px;
}

.modeSelect {
    padding: 5px;
    margin-left: 10px;
    border: 1px solid black;
}

.modeSelect:hover {
    background-color: lavender;
    cursor: default;
}